*.py[cod]

build
devel

profile.tmp

.idea
catkin_ws

data/*.bag
venv
.vscode
traffic_light_bag*
ros/src/twist_controller/*.csv
log/*


traffic_light_detection/tf-models
traffic_light_detection/models/*
traffic_light_detection/data-downloads
traffic_light_detection/data/*.record
.ipynb_checkpoints